<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Update and Create</title>
</head>
<body>

    <h3>Recipe</h3>
    <!--/*@thymesVar id="recipe" type="springframework.yemektarifleri.yemek_tariflerid_eneme.models.Recipe"*/-->
    <div>
        <form  action="#" th:object="${recipe}" th:action="@{/recipe/}" method="post">
            <div th:if="${#fields.hasErrors('*')}">
                <p>Please Correct Errors Below</p>
            </div>

            <div>
                Description: <input type="text" th:field="*{description}" />
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                    </ul>
                Prepare Time: <input type="text" th:field="*{prepTime}" />
                    <ul>
                        <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                    </ul>
                Cooking Time: <input type="text" th:field="*{cookTime}" />
                    <ul>
                        <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                    </ul>
                Servings: <input type="text" th:field="*{servings}" />
                    <ul>
                        <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                    </ul>
                Source: <input type="text" th:field="*{source}" />
                    <ul>
                        <li th:each="err : ${#fields.errors('source')}" th:text="${err}"/>
                    </ul>
                Directions: <input type="text" th:field="*{directions}" />
                    <ul>
                        <li th:each="err : ${#fields.errors('directions')}" th:text="${err}"/>
                    </ul>
                Notes: <input type="text" th:field="*{notes.recipeNotes}" />
                <ul>
                    <li th:each="err : ${#fields.errors('notes')}" th:text="${err}"/>
                </ul>
                <!-- img and ingredients should be added -->
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

</body>
</html>