<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Update and Create</title>
</head>
<body>

    <h3>Recipe</h3>
    <!--/*@thymesVar id="recipe" type="springframework.yemektarifleri.yemek_tariflerid_eneme.models.Recipe"*/-->
    <div>
        <form  th:object="${recipe}" th:action="@{/recipe/}" method="post">
            <div>
                <ul th:if="${#fields.hasAnyErrors()}">
                    <li th:each = "error : ${#fields.errors()}" th:text="error"></li>
                </ul>
                <input type="text" th:field="*{description}" />
                <input type="text" th:field="*{prepTime}" />
                <input type="text" th:field="*{cookTime}" />
                <input type="text" th:field="*{servings}" />
                <input type="text" th:field="*{source}" />
                <input type="text" th:field="*{directions}" />
                <!-- img note and ingredients should be added -->
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

</body>
</html>